.form-section label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-section select,
.form-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}

.form-section button {
    padding: 10px 20px;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
    width: 100%;
    margin-top: 20px;
}

.form-section button:hover {
    background-color: #115293;
}