* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loginMain {
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(6, 50, 81, 0.80), rgba(6, 50, 81, 0.80)), url('../Image/IndexBG.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 90vh;
}

.main {
    width: 500px;
    background-color: rgba(6, 50, 81, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(19, 148, 240, 0.9);
    position: relative;
    text-align: center;
}

.image img {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 75px;
    margin-left: 10px;
    margin-top: 10px;
}

.main h1 {
    margin-top: 20px;
    font-size: 30px;
    color: #ffffff;
    font-weight: 700;
}

.main p {
    color: #ccc;
    margin-bottom: 20px;
}

.form-control {
    margin-bottom: 0px;
}

button.primary-button {
    background-color: #071f37;
    color: #ffffff;
    border: none;
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #071f37;
}

button.primary-button:hover {
    background-color: #061f37;
}

button.forget-password {
    font-size: 14px;
    color: #3c9fe5;
    margin-top: -12px;
    margin-bottom: 10px;
    text-align: right;
    display: block;
    width: 100%;
}

button.link-button {
    font-size: 14px;
    color: #3c9fe5;
    padding: 0;
}

button.link-button:hover {
    text-decoration: underline;
    color: #ffffff;
}

button.forget-password:hover {
    color: #ffffff;
}

.inline {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.footer {
    background-color: #071f37;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer div {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

@media screen and (max-width: 768px) {
    .main {
        width: 90%;
        padding: 15px;
    }

    .main h1 {
        font-size: 24px;
    }

    .image img {
        height: 50px;
    }

    button.primary-button {
        padding: 8px;
        font-size: 16px;
    }

    button.forget-password, button.link-button {
        font-size: 12px;
    }

    .footer {
        padding: 15px 0;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .main {
        width: 100%;
        padding: 10px;
        border-radius: 0;
        box-shadow: none;
    }

    .main h1 {
        font-size: 20px;
    }

    button.primary-button {
        padding: 8px;
        font-size: 14px;
    }

    .footer {
        padding: 10px 0;
        font-size: 12px;
    }
}
